

<h1>Add a Library</h1>
<div ng-controller="LibraryCtrl">
  <form ng-submit="addLibrary()">
    <input type="text" ng-model="newLibrary.title" placeholder="Library name"><br>
  </form>
  
  <ul ng-repeat="library in libraries">
    <p class="library-title">{{library.title}}</p>
  </ul>
  <button ng-click="deleteLibrary()">Delete</button>

<h2>Add Book to Library</h2>
  <!-- BookCtrl is a nested controller -->
  <section ng-controller="BookCtrl">
    <form ng-submit="addBook()">
      <input type="text" ng-model="newBook.title" placeholder="title"></br>
      <input type="text" ng-model="newBook.author" placeholder="author"></br>
      <input type="text" ng-model="newBook.ISBN" placeholder="ISBN"></br>
      <textarea ng-model="newBook.description" placeholder="description"></textarea>
      <br><button>Add Book</button>
    </form>
  
    <ul ng-repeat="book in books">
      <strong><li class="book-title">Title: {{book.title}}</li></strong>
      <li class="book.author">Author: {{book.author}}</li>
      <li>Description: {{book.description}}</li>
      <li>ISBN# {{book.ISBN}}</li><br>
      <button ng-click="deleteBook()">Delete</button>
    </ul>
  </section>
</div>